@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@300&display=swap');


  body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(75deg, #ddb0c4,#b6e1ff,#ffceea, #f5dcff,#ffcae0, #f9edfe);
}


/* nav bar */
.custom-tabs {
  margin-top: 20px;
  background-color: #f8f9fa;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-tabs .nav-link {
  color: #495057;
  border: none;
  border-radius: 5px 5px 0 0;
  padding: 15px 20px;
  font-weight: bold;
  transition: background-color 0.3s;
}

.custom-tabs .nav-link.active {
  background-color: #007bff;
  color: #fff;
}

.custom-tabs .nav-link:hover {
  background-color: #0056b3;
  color: #fff;
}

/* h5 */
h5 {
  font-family: 'Phudu', sans-serif;
  color: #3a6ca2; 
  font-size: 2rem;
  margin-bottom: 1rem;
  font-style: inherit;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;

}


/* h6 */
h6 {
  font-family: 'Phudu', sans-serif;
  color: #583261; 
  font-size: 2rem;
  margin-bottom: 1rem;
  font-style: inherit;
  font-weight: bold;
}

/* form */
.custom-container {
  margin-top: 3rem;
}

.custom-form {
  background-color: #f8f9fa; /* Bootstrap background color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.custom-select,
.custom-input {
  margin-bottom: 1.5rem;
}

/* table */

/* button */
.custom-btn {
  background-color: rgb(82, 71, 179); /* Bootstrap success color */
  color: #fff; /* Text color */
  border: none;
  padding: 10px 20px;
  font-size: 1.25rem; /* Adjust the font size as needed */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  
}

.custom-btn:hover {
  background-color: #ffffff; /* Darker shade for hover effect */
}

/* Style for Confirm Booking button */
.btn-success {
  background-color: rgb(82, 71, 179); /* Bootstrap success color */
  color: #000000; /* Text color */
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 1rem; /* Adjust as needed */
}

/* Style for Add To Favorites button */
.btn-primary {
  background-color: rgb(82, 71, 179); /* Bootstrap primary color */
  color: #000000; /* Text color */
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 18px;
  margin-bottom: 1rem; /* Adjust as needed */
}

.btn-success:hover {
  background-color: #ffffff; /* Darker shade for hover effect */
  color: #000;
}

.btn-primary:hover {
  background-color: #ffffff; /* Darker shade for hover effect */
  color: #000;
}


